# Predict the selling price of the products

### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data preprocessing

In [2]:
df=pd.read_csv("./train.csv")
test=pd.read_csv("./test.csv")

In [3]:
df1=df.drop(["Product_id","instock_date","Customer_name"],axis="columns")

In [4]:
df1.head()

,Stall_no,Market_Category,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,37.0,2,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,38.0,24,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,9.0,447,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,50.0,23,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,7.0,63,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935

### Label encoding categorical data

In [5]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
le1=LabelEncoder()

df1.Loyalty_customer=le.fit_transform(df1.Loyalty_customer)
df1.Product_Category=le1.fit_transform(df1.Product_Category)

In [6]:
df1.isnull().sum()

Stall_no              5
Market_Category       0
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail       38
charges_1           198
charges_2 (%)       205
Minimum_price        38
Maximum_price       343
Selling_Price        41
dtype: int64

In [7]:
df1=df1.dropna()

In [8]:
df1.shape

(5570, 12)

In [9]:
X=df1.drop("Selling_Price",axis="columns")
y=df1.Selling_Price

### Random forest model

In [10]:
from sklearn.ensemble import RandomForestRegressor

ran_reg=RandomForestRegressor()

In [11]:
ran_reg.fit(X,y)

RandomForestRegressor()

In [12]:
test

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price
0,SCHE4YSTDVPVZVXW,39.0,2016-01-13 07:45:08.000,205,Ivanka,No,Fashion,0,90,0,380.0,16.0,2576.0,3340
1,ACCEGCATKHNRXUHW,49.0,2015-08-23 20:37:05.000,3,Isaak,Yes,Fashion,0,87,0,393.0,16.0,1202.0,1955
2,NKCE6GJ5XVJDXNNZ,1.0,2015-11-14 18:12:39.000,183,Analiese,No,Technology,2,55,0,493.0,9.0,7175.0,15715
3,NKCEB8BK3ZXDHDHM,8.0,2015-11-21 04:56:19.000,358,Rusty,Yes,Child_care,3,86,0,303.0,16.0,5404.0,13078
4,TOPEFDXSAHRNPF94,33.0,2015-05-06 15:09:46.000,167,Eloise,No,Technology,0,27,0,567.0,16.0,4069.0,6244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,BBAE9K7BXFUTDNBK,9.0,2015-08-15 21:17:17.000,58,Davion,Yes,Pet_care,0,39,0,117.0,5.0,3094.0,4674
3426,RTRDYPA4PJHCJCGF,30.0,2015-12-04 01:51:47.000,358,Maiah,Yes,Technology,3,17,0,509.0,6.0,3384.0,14105
3427,TUNE8FWQBS7TVVT7,14.0,2016-03-28 20:55:47.000,106,Gwendolen,Yes,Educational,0,36,0,150.0,17.0,710.0,10894
3428,NKCEGMUABCRGUZPE,1.0,2015-05-23 07:41:36.000,104,Addilynn,Yes,Child_care,0,63,0,325.0,15.0,1477.0,5165
3429,RNGE7M92KAQWUBCS,3.0,2015-08-16 22:19:46.000,165,Charlize,No,Repair,0,92,1,228.0,9.0,5538.0,7506

In [13]:
test.isnull().sum()

Product_id           0
Stall_no             1
instock_date         0
Market_Category      0
Customer_name       53
Loyalty_customer     0
Product_Category     0
Grade                0
Demand               0
Discount_avail       0
charges_1           36
charges_2 (%)        5
Minimum_price       14
Maximum_price        0
dtype: int64

In [14]:
test1=test.copy()

In [15]:
test1=test.drop(["Product_id","instock_date","Customer_name"],axis="columns")

In [16]:
from sklearn.preprocessing import LabelEncoder
le2=LabelEncoder()
le3=LabelEncoder()
test1.Loyalty_customer=le2.fit_transform(test1.Loyalty_customer)
test1.Product_Category=le3.fit_transform(test.Product_Category)

In [17]:
test1.Stall_no=test.Stall_no.fillna(test1.Stall_no.mode())
test1.charges_1=test1.charges_1.fillna(test1.charges_1.mean())
test1.charges_2=test1.charges_2.fillna(test1.charges_2.mean())
test1.Minimum_price=test1.Minimum_price.fillna(test1.Minimum_price.mean())

AttributeError: 'DataFrame' object has no attribute 'charges_2'

In [ ]:
test1.head()

In [ ]:
test1.isnull().sum()

### Predicting test set values

In [ ]:
y_pred=ran_reg.predict(test1)

In [ ]:
y_pred

In [ ]:
test["Selling_Price"]=y_pred

In [ ]:
//test.to_csv("C:\\Users\\Welcome\\OneDrive\\Desktop\\carnival\\sample_submission.csv",columns=["Product_id","Selling_Price"])