In [1]:
import pandas as pd
import numpy as np

In [19]:
df=pd.read_csv("C:\\Users\\Welcome\\Desktop\\ML\\decisiontree.csv")

In [20]:
d = df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis ='columns')

In [21]:
d.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [25]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [27]:
d['sex_n']=lb.fit_transform(d['Sex'])

In [28]:
d.head()

   Survived  Pclass     Sex   Age     Fare  sex_n
0         0       3    male  22.0   7.2500      1
1         1       1  female  38.0  71.2833      0
2         1       3  female  26.0   7.9250      0
3         1       1  female  35.0  53.1000      0
4         0       3    male  35.0   8.0500      1

In [29]:
d=d.drop('Sex',axis='columns')

In [30]:
y=d.Survived

In [31]:
d=d.drop('Survived',axis='columns')

In [33]:
d.head()

   Pclass   Age     Fare  sex_n
0       3  22.0   7.2500      1
1       1  38.0  71.2833      0
2       3  26.0   7.9250      0
3       1  35.0  53.1000      0
4       3  35.0   8.0500      1

In [35]:
import math
medage=math.floor(d.Age.median())

In [36]:
d.Age=d.Age.fillna(medage)

In [40]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [41]:
model.fit(d,y)

DecisionTreeClassifier()

In [43]:
model.score(d,y)

0.9775533108866442

In [49]:
model.predict([[3,22,7.25,1]])

array([0], dtype=int64)